@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/* font-family: "DM Sans", serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* font-family: "Playfair Display", serif; */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
/* font-family: "Caveat", serif; */
:root{
    --bg-danger:#60060f;
}
*{
    font-family: "DM Sans", serif;
}
.bg-danger{
    background-color: var(--bg-danger) !important;
}
.topbar-inner{
    background-color: #781921 ;
}
.topbar-list li:hover{
    background-color: var(--bg-danger);
    border-radius: 2px;
}
.dropdown-menu{
    display: none;
}
.dropdown-hover:hover .dropdown-menu{
    display: block;
    border: none;
}
.dropdown-menu .dropdown-item:hover{
    background-color: #78192140;
    color: #781921e1;
    border-radius: 7px;
}
.nav-item:hover{
    background-color:#78192110 ;
    color:#190104a2 ;
}
.dropdown-toggle::after {
    font-family: "Font Awesome 6 Free"; /* Ensure Font Awesome is applied */
    content: "\f107"; /* Unicode for chevron-down in Font Awesome */
    font-weight: 600; /* Required for solid icons */
    border: none;
    vertical-align: 0;
    margin-left: 0.4rem;
    vertical-align: -2px;
  }
  .btn-outline-secondary-c:hover{
    background-color: transparent;
    color: inherit;
  }
  .dropdown-menu-c{
    margin-left: -60px ;
  }